{% extends 'navbar.html' %}
{% load static %}
{% block body %}

<!-- PAGINA ACERCA DE - BENJA FILIPPI -->

<body style="background-image: url('{% static 'fotos/stethoscope-pink-background.jpg' %}'); 
background-size: cover; 
background-position: center; min-height: 100vh;">
    
   <!-- Contenedor Principal -->
<div class="main-container">
    <!-- Sección de información de Acerca de (HAY QUE CAMBIAR LA INFORMACION DE ABAJO DE ACUERDO A NUESTRA PAGINA) -->
    <div class="contact-info">
        <p><strong>¿Por qué preferir Prevesito?</strong></p>
        <p style="text-align: justify;">1.- Somos la <strong>primera Red de Clínicas Estéticas de excelencia</strong>, <strong>que acerca &nbsp;la medicina estética de vanguardia desde Santiago a regiones</strong>, presente en diversas ciudades del país: Santiago, Viña del Mar, Iquique, Antofagasta, Copiapó y Concepción. Nuestro objetivo es entregar una experiencia basada en la ética y la cordialidad, que inviten a nuestros pacientes a confiar más allá de una atención aislada.</p>
        <p style="text-align: justify;">2.- <strong>Nuestras clínicas cuentan con </strong><strong>Autorizaciones Sanitarias vigentes</strong>. Te recomendamos que en el momento de acercarte a cualquier clínica estética, consultes si esta cuenta con la autorización de funcionamiento otorgada por la SEREMI de Salud Regional correspondiente, pues existen muchos centros que funcionan fuera de la normativa, y esto puede poner en riesgo tu seguridad en los procedimientos.</p>
        <p style="text-align: justify;">3.- <strong>Nuestro staff de médicos, cuenta con vasta experiencia y formación continua en Medicina Estética</strong>, y se han especializado en distintas áreas: Tratamientos Antienvejecimiento, Reductivos y Reafirmantes, Depilación Láser, Sobrepeso y Obesidad, y Cirugía Plástica, entre otros.<br>     <br>4.- <strong>Utilizamos productos de uso médico</strong>, como el ácido hialurónico y la toxina botulínica de la <strong>más alta calidad y con certificaciones internacionales</strong>. Nuestros principales proveedores son representantes de las marcas utilizadas para los estudios clínicos de la FDA (Food and Drug Administration) de Estados Unidos y son reconocidos a nivel mundial en los Congresos y Simposios de Medicina Estética.</p>
        <p style="text-align: justify;">5.- Contamos con la <strong>tecnología más avanzada en el mercado y equipos estéticos de vanguardia</strong>, que logran resultados satisfactorios para nuestros pacientes, evitando eventuales riesgos asociados a tecnología de baja calidad, otorgando seguridad a los pacientes y excelentes resultados.</p>
        <p style="text-align: justify;">6.- Comprendemos que unos de los principales temores de los pacientes es el dolor asociado a los tratamientos médicos. &nbsp;Es por esto que hemos desarrollado <strong>técnicas que buscan disminuir las molestias de las intervenciones</strong>, a través cremas que producen anestesia local y gases que generan sedación y disminución de la ansiedad.</p>
        <p></p>
    </div>
  
  </body>

{% endblock  %}