{% extends 'navbar.html' %}
{% load static %}
{% block body %}

<!-- PAGINA ACERCA DE -->

<body style="background-image: url('{% static 'fotos/stethoscope-pink-background.jpg' %}'); 
background-size: cover; 
background-position: center; min-height: 100vh;">
    
   <!-- Contenedor Principal -->
<div class="main-container">
    <!-- Sección de información de Acerca de (HAY QUE CAMBIAR LA INFORMACION DE ABAJO DE ACUERDO A NUESTRA PAGINA) -->
    <div class="contact-info">
      <img src="{% static 'fotos/pngtree-vector-monitor-icon-element-png-image_4227945-removebg-preview.png' %}" style="width: 100px; height:
      100px;">Prevesitio</a>
        <p><strong>¿Por qué preferir Prevesito?</strong></p>
        <p style="text-align: justify;">1.- La <strong>enfermedad renal crónica (ERC)</strong> es una condición progresiva que afecta la capacidad de los riñones para filtrar desechos y mantener el equilibrio de líquidos en el cuerpo.</p>
        <p style="text-align: justify;">2.- En pacientes con <strong>diabetes</strong>, el riesgo de desarrollar ERC aumenta considerablemente, debido a los altos niveles de glucosa en sangre que pueden dañar los vasos sanguíneos en los riñones con el tiempo. La prevención y el manejo efectivo de la diabetes son claves para reducir el avance de la ERC y mejorar la calidad de vida de los pacientes.</p>
        <p style="text-align: justify;">3.- ofrecemos herramientas y recursos diseñados para ayudar a los pacientes a gestionar su diabetes de manera efectiva, minimizando así el riesgo de ERC.</p>
        <p style="text-align: justify;">4.- Nuestro objetivo es proporcionar información accesible y tecnología de apoyo que facilite la toma de decisiones saludables y un seguimiento adecuado de los niveles de glucosa, promoviendo un estilo de vida que contribuya al bienestar renal y a la salud en general.</p>
        <p></p>
    </div>
  
  </body>

{% endblock  %}