{% extends 'navbar.html' %} {% load static %} {% block body %}

<body style="background-image: url('{% static 'fotos/comida-saludable-material-medico_23-2148108966.jpg' %}'); 
            background-size: cover; 
            background-position: center; min-height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);">
  <div class="container-e">
    <div class="container-e__information">
      <h2 class="container-e__information__title" style="color: white; font-style: italic">EDUCACIÓN</h2>
      <div class="container-e__title__separator"></div>
      <div class="container-e__content" style="color: white; backdrop-filter: blur(8px); border-radius: 20px;">
        <b>Si tengo diabetes, ¿Cómo evito complicaciones?</b> La prevención de
        la diabetes es clave para mantener una buena salud. Para reducir el
        riesgo, es importante mantener un peso saludable, seguir una dieta
        equilibrada rica en frutas, verduras y granos integrales, y realizar
        actividad física regularmente. Además, controlar el estrés y hacerse
        chequeos médicos periódicos puede ayudar a detectar factores de riesgo a
        tiempo. Cuidar de tu salud hoy puede marcar la diferencia mañana.
      </div>
    </div>
  </div>
  <div class="container-e">
    <div class="container-e__tabs">
      <button
        class="container-e__tabs-btn active"
        onclick="openTab(event, 'tab1')"
      >
        Peso
      </button>
      <button class="container-e__tabs-btn" onclick="openTab(event, 'tab2')">
        Dieta
      </button>
      <button class="container-e__tabs-btn" onclick="openTab(event, 'tab3')">
        Ejercicio
      </button>
      <button class="container-e__tabs-btn" onclick="openTab(event, 'tab4')">
        Estrés
      </button>
      <button class="container-e__tabs-btn" onclick="openTab(event, 'tab5')">
        Salud
      </button>
      <button class="container-e__tabs-btn" onclick="openTab(event, 'tab6')">
        Evitar
      </button>
    </div>
    <div id="tab1" class="container-e__tab-content active">
      <div class="container-e__tab-details">
        <div class="container-e__tab-details__content">
          <h2>Mantén un peso saludable</h2>
          <p>
            La obesidad es un factor de riesgo importante. Intenta mantener un
            peso adecuado mediante una alimentación equilibrada y actividad
            física regular.
          </p>
        </div>
        <img src="{% static 'fotos/healthe__001.webp' %}" />
      </div>
    </div>
    <div id="tab2" class="container-e__tab-content">
      <div class="container-e__tab-details">
        <div class="container-e__tab-details__content">
          <h2>Aliméntate de forma equilibrada</h2>
          <p>
            Consume una dieta rica en frutas, verduras, granos integrales y
            proteínas magras. Limita los azúcares añadidos y las grasas
            saturadas.
          </p>
        </div>
        <img src="{% static 'fotos/healthe__002.webp' %}" />
      </div>
    </div>
    <div id="tab3" class="container-e__tab-content">
      <div class="container-e__tab-details">
        <div class="container-e__tab-details__content">
          <h2>Realiza actividad física</h2>
          <p>
            Intenta hacer al menos 150 minutos de ejercicio moderado a la
            semana, como caminar, nadar o andar en bicicleta. Esto ayuda a
            controlar el peso y mejorar la sensibilidad a la insulina.
          </p>
        </div>
        <img src="{% static 'fotos/healthe__003.webp' %}" />
      </div>
    </div>
    <div id="tab4" class="container-e__tab-content">
      <div class="container-e__tab-details">
        <div class="container-e__tab-details__content">
          <h2>Controla el estrés</h2>
          <p>
            El estrés crónico puede afectar tus niveles de glucosa. Practica
            técnicas de relajación como la meditación, el yoga o la respiración
            profunda.
          </p>
        </div>
        <img src="{% static 'fotos/healthe__004.webp' %}" />
      </div>
    </div>
    <div id="tab5" class="container-e__tab-content">
      <div class="container-e__tab-details">
        <div class="container-e__tab-details__content">
          <h2>Monitorea tu salud</h2>
          <p>
            Hazte chequeos regulares para revisar tus niveles de azúcar en
            sangre y otros indicadores de salud. Detectar problemas a tiempo es
            clave.
          </p>
        </div>
        <img src="{% static 'fotos/healthe__005.webp' %}" />
      </div>
    </div>
    <div id="tab6" class="container-e__tab-content">
      <div class="container-e__tab-details">
        <div class="container-e__tab-details__content">
          <h2>Evita el tabaco y limita el alcohol</h2>
          <p>
            Fumar y el consumo excesivo de alcohol aumentan el riesgo de
            diabetes. Si fumas, busca ayuda para dejarlo y modera tu consumo de
            bebidas alcohólicas.
          </p>
        </div>
        <img src="{% static 'fotos/healthe__006.webp' %}" />
      </div>
    </div>
  </div>
</body>
<script>
  function openTab(evt, tabName) {
    let i, tabcontent, tabbuttons;
    tabbuttons = document.getElementsByClassName("container-e__tabs-btn");
    tabcontent = document.getElementsByClassName("container-e__tab-content");

    // Función para cambiar el texto de los TABS en responsive
    function changeTabText(x) {      
      for (let i = 0; i < tabbuttons.length; i++) {
        if (x.matches) {
          tabbuttons[i].textContent = `E. ${i + 1}`;
        }
      }
    }

    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].classList.remove("active");
    }

    for (i = 0; i < tabbuttons.length; i++) {
      tabbuttons[i].classList.remove("active");
    }

    // Muestra el contenido de la pestaña activa y añade la clase "active" al botón
    document.getElementById(tabName).classList.add("active");
    evt.currentTarget.classList.add("active");
  }

  // Función para inicializar el cambio de texto
  function initializeTabText() {
    const x = window.matchMedia("(max-width: 768px)");
    changeTabText(x);
    x.addEventListener("change", function () {
      changeTabText(x);
    });
  }

  // Ejecutar la función al cargar la página
  window.onload = initializeTabText;
</script>
{% endblock %}
